body {
	background: white;
	text-align:center;
	background-size:cover;
}

.navbar-default {
	background: white;
	border-bottom: none;
}

.navbar-brand {
	padding-top: 30px;
}

ul {
    list-style: none;
}
li {
    display: inline-block;
    padding: 20px 0 20px;
    vertical-align: middle;
}
a:hover, a:focus, a:active {
    color: #999;
    text-decoration: none;
}

a {
	font-family: Source Sans Pro;
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
	text-decoration: none;
    transition: color 0.1s,background-color 0.1s, padding 0.3s ease-in;
    color: #000;
}
a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: yellow;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
a:active::before {
    background-color: yellow;
}
a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.container {
    display: inline-block;
    cursor: pointer;
}

.icon-one, .icon-two, .icon-three {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .icon-one {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .icon-two {opacity: 0;}

.change .icon-three {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


