@charset "UTF-8";
/* CSS Document */

body {
background: white;
text-align:center;
background-size:cover;
}

.navbar-inverse{
	background: #020f84;
}

.navbar-inverse .navbar-nav>li>a {
	color: rgb(210, 223, 242);
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-brand:hover {
	color: #9fe3f9;
}

.navbar-right {
	margin-left: 0px;
}

.header {
	padding-top: 50px;
}

#the_footer{
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-size: 15pt;
	background-color: #020f84;
	color: #FCF8F8;
	padding-top: 0px;
	padding-bottom: 0px;
}

h1{
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-size: 36pt;
	color: #020f84;
	float: none;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 0px;
	margin-bottom: 70px;
} 

h2{
	text-align: center;
	margin-bottom: 40px;
	line-height: 50px;
}

.logo{
	text-align: center;
	margin-bottom: 20px;
}

h3{
	text-align: left;
	font-family:Source Sans Pro;
	font-size: 14pt;
	margin-bottom: 25px;
	margin-left: 60px;
	padding-top: 12px;
	padding-bottom: 5px;
	line-height: 40px;
}

h4{
	text-align: center;
	margin-bottom: 10px;
}

h5 {
	font-family: Source Sans Pro;
	color: white;
	font-weight: normal;
	font-size: 11pt;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}

.bullet {
	color: #9fe3f9;
	font-size: 16pt;
}

.it {
	color: white;
	font-size: 10pt;
}

.sonic {
	color: #F9E528;
}

.envelope {
	color: white;
}

.envelope:hover { 
    color: #9fe3f9;
	background-color: transparent;
}

#art {
background: rgb(196, 224, 252);
text-align:center;
height: 100%;
min-height: 100%;
max-height: 100%;
width: 100%;
background-size: 100% 100%;
background-position: center;
max-width: 100%;
min-width: 100%;
top: 0;
left: 0;
padding: 0;
margin-top: 30px;
border: #999 solid 0px;
box-shadow: rgb(208, 208, 216) 8px 8px 10px;
margin-left: 1px;
margin-right: 1px;
}